.image-container {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.img-sub-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
}

.rounded-image {
    border-radius: var(--border-full);
    width: 9.375rem;
}

.responsive-image {
    border-radius: 0;
    width: 100%;
    height: auto;
}