@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color: #0e9aeb;
    --white: #ffffff;
    --darkBlue:#0f3952;;
}
body {
    color:var(--white);
    font-family: 'Montserrat', sans-serif;
    background-image: url('./images/pexels-photo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem 0 3rem;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    font-size: 1.3rem;
    align-items: flex-end;
}

.nav-logo {
    color: var(--main-color);
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
}

.logo-img {
    font-size: 3rem;
    margin-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0rem;

}

.nav-link {
    margin-bottom: 12px;
}

.nav-title {
    outline: none;
    text-decoration: none;
    color: white;
    border-bottom: 3px solid white;
    padding: 0 5px 0.5rem 5px;
}

.nav-title:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.main-container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.hero-art {
    max-width: 100%;
    position: absolute;
    bottom: 0;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-text-title {
    padding-top: 9rem;
    text-align: right;
    font-size: 2.5rem;
    line-height: 1.4;
}

.main-text-span {
    color: var(--main-color)
}

.main-link {
    text-decoration: none;
}

.main-btn {
    background: none;
    border: 3px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 50px;
    padding: 1rem 2rem;
    margin-top: 3rem;
    cursor: pointer;
}

.main-btn > i {
    padding-left: 10px;
}

.main-btn:hover {
    background-color: var(--darkBlue)
}

.main-footer {
    padding: 6rem 0 5rem 0;
    display: flex;
}

.github,
.twitter {
    transition: transform .5s;
}

.github:hover,
.twitter:hover {
    transform: scale(1.5);
}

.github>img {
    background: var(--white);
    width: 50px;
}

.github>i,
.twitter>i {
    color: var(--white);
    font-size: 1.5rem;
}

.github>i {
    margin-right: 20px;
}

@media screen and (max-width : 440px){
    .nav-link{
        display: none;
    }
    .main-text-title{
        font-size: 2rem;
    }
} 