<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.jpg">
    <title>Avatar | jagaMatUI </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="../component.css">    
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="navigation-bar">
        <div class="logo">
            <a href="../../index.html">
                <i class="fa fa-eject logo-img" aria-hidden="true"></i>
                <h3>jagaMatUI</h3>
            </a>
        </div>
        <div class="humber-icon">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>    
    </div>
    <div class="container">
        <div class="sidebar-wrapper trans-off">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="../../index.html">
                            <i class="fa fa-eject logo-img" aria-hidden="true"></i>
                            <h3 class="nav-title">jagaMatUI</h3>
                        </a>
                    </div>
                </div>
                <a href="../main.html" class="install-text">Install jagaMatUI</a>
                <div class="sidebar-main">
                    <a href="../alert/alert.html">Alert</a>
                    <a class="active-page" href="../avatar/avatar.html">Avatar</a>
                    <a href="../badge/badge.html">Badge</a>
                    <a href="../button/button.html">Button</a>
                    <a href="../card/card.html">Card</a>
                    <a href="../image/image.html">Image</a>
                    <a href="../input/input.html">Input</a>
                    <a href="../lists/lists.html">Lists</a>
                    <a href="../modal/modal.html">Modal</a>
                    <a href="../navigation/navigation.html">Navigation</a>
                    <a href="../rating/rating.html">Rating </a>
                    <a href="../text-utilities/textUtilities.html">Text Utilities</a>
                    <a href="../grid/grid.html">Responsive Grid</a>
                    <a href="../slider/slider.html">Slider</a>
                    <a href="../toast/toast.html">Toast</a>
                </div>
             
            </div>
        </div>

        <div class="section">

            <div class="section-header">
                <div>
                    <h1 class="section-main-text-header">Avatar</h1>
                    <p class="paragraph">
                        Avatar is used to represent a user, and displays the profile picture, initials or fallback icon.
                    </p>
                </div>
            </div>

            <div class="section-main">
                <div class="section-main-text">
                    <h2 class="section-main-text-header">Different sizes</h2>
                    <p class="paragraph">
                        Small , Medium and Large these are the sizes provided. Use it according to your requirement.
                    </p>
                </div>
                <div class="avatar-container">
                    <img src="../../images/avatar-img.jpg" class="avatar sm">
                    <img src="../../images/avatar-img.jpg" class="avatar md">
                    <img src="../../images/avatar-img.jpg" class="avatar lg">
                </div>
                <div class="doc-img">
                    <iframe class="avatar-iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=seti&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=142%25&si=false&es=2x&wm=false&code=%253C%21--Small%2520Size--%253E%2520%2520%2520%250A%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Favatar-img.jpg%2522%2520%2520class%253D%2522avatar%2520sm%2522%253E%250A%253C%21--Medium%2520Size--%253E%250A%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Favatar-img.jpg%2522%2520%2520class%253D%2522avatar%2520md%2522%253E%250A%253C%21--Large%2520Size--%253E%250A%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Favatar-img.jpg%2522%2520%2520class%253D%2522avatar%2520lg%2522%253E"
                        style="width: 100%; height: 549px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../main.js"></script>
</body>

</html>