<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.jpg">
    <title>Toast | jagaMatUI </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="toast.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="navigation-bar">
        <div class="logo">
            <a href="../../index.html">
                <i class="fa fa-eject logo-img" aria-hidden="true"></i>
                <h3>jagaMatUI</h3>
            </a>

        </div>
        <div class="humber-icon">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>

    </div>

    <div class="container">
        <div class="sidebar-wrapper trans-off">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="../../index.html">
                            <i class="fa fa-eject logo-img" aria-hidden="true"></i>
                            <h3>jagaMatUI</h3>
                        </a>
                    </div>
                </div>
                <a href="../main.html" class="install-text">Install jagaMatUI</a>
                <div class="sidebar-main">
                    <a href="../alert/alert.html">Alert</a>
                    <a href="../avatar/avatar.html">Avatar</a>
                    <a href="../badge/badge.html">Badge</a>
                    <a href="../button/button.html">Button</a>
                    <a href="../card/card.html">Card</a>
                    <a href="../image/image.html">Image</a>
                    <a href="../input/input.html">Input</a>
                    <a href="../lists/lists.html">Lists</a>
                    <a href="../modal/modal.html">Modal</a>
                    <a href="../navigation/navigation.html">Navigation</a>
                    <a href="../rating/rating.html">Rating </a>
                    <a href="../grid/grid.html">Responsive Grid</a>
                    <a href="../slider/slider.html">Slider</a>
                    <a href="../text-utilities/textUtilities.html">Text Utilities</a>
                    <a class="active-page" href="../toast/toast.html">Toast</a>
                </div>
               ''
            </div>
        </div>

        <div class="section">

            <div class="section-header">
                <div>
                    <h1 class="section-main-text-header">Toast</h1>
                    <p class="paragraph">
                        Toasts are often used as tooltips / popups to show a message at the bottom of the screen.
                    </p>
                </div>

            </div>

            <div class="section-main">
                <div class="section-main-text flex-center">
                    <div class="toast">
                        <span class="toast-msg">Please try again letter</span>
                        <button class="toast-btn">&times;</button>
                    </div>
                </div>
            </div>
            <div class="doc-img">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=seti&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=142%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2520toast-position%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Cspan%2520class%253D%2522toast-msg%2522%253EPlease%2520try%2520again%2520letter%253C%252Fspan%253E%250A%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522toast-btn%2522%253E%2526times%253B%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                    style="width: 674px; height: 280px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
    <script src="../main.js"></script>
</body>

</html>